.container-input {
  display: flex;
  flex-direction: column;

  input {
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    align-self: stretch;
    padding: 0.75rem;

    border-radius: 0.3125rem;
    border: 1px solid var(--black);
  }
}