:root {
  --black: #000;
  --white: #fff;
  --bg-button: rgba(235, 235, 235, 0.26);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
