.container {
  display: flex;
  width: 100%;
  flex-direction: column;

  
 &::after, &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: var(--black);
      display: block;
  }

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  padding: 0.5rem 4rem;

  img {
    display: flex;
    padding: 0.5rem;
    gap: 0.65613rem;
  }
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;



  input {
    display: flex;
    width: 7rem;
    height: 2rem;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    border: 1px solid  var(--black);

    margin-left: 2rem;
    margin-right: 2rem;
  }

  ul {
    display: flex;
    list-style-type: none;

    gap: 2rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--black);
    display: block;
  }
}

.marketplace {
  display: flex;

  button {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    margin-right: 1.4rem;
    cursor: pointer;
  
    &:hover {
      background-color: var(--bg-button);
    }
}
}

.notification {
  display: flex;

  button {
    display: flex;
    width: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
  
    &:hover {
      background-color: var(--bg-button);
    }
}

}
}