.login {
  display: block;
  padding-left: 3rem;
  
  button{
    display: flex;
    border: none;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    cursor: pointer;
 
    &:hover {
      background-color: var(--bg-button);
    }
  }
}